
.App {
  text-align: center;
  background-color: green;
}

body {
  background-color: green;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-back-image{
  width: 226px;
  height: 314px;
}